body {
  font-family: Arial, sans-serif;
  background-image: url("uploads/background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("uploads/background.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  aspect-ratio: 16 / 9;
}

.d-center {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Thiệp */
.envelope-icon {
  font-size: 3em;
  cursor: pointer;
  z-index: 2;
  position: relative;
  animation: pulse 1.5s infinite;
  margin-top: 330px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.slide-card {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 400px;
  height: 350px;
  margin: 30px auto;
  overflow: hidden;
  display: none;
  /* Ẩn ban đầu */
}

.card-content {
  background-image: url("uploads/background-card.png");
  background-size: cover;
  background-position: center;
  color: #c72d2f;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  transform: translateY(120%);
  /* nằm ngoài khung */
  transition: transform 1s;
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
  body {
    background-size: contain;
  }

  .envelope-icon {
    font-size: 2.2em; /* thu nhỏ icon */
    margin-top: 150px; /* điều chỉnh khoảng cách */
  }

  .slide-card {
    top: 15%;
    left: 50%;
    transform: translateX(-50%); /* căn giữa theo chiều ngang */
    width: 90%; /* chiếm gần hết chiều ngang màn hình */
    height: auto; /* tự động theo nội dung */
  }

  .card-content {
    padding: 15px;
    font-size: 0.9em;/* chữ nhỏ hơn để vừa màn hình */
    transform: translateY(120%);
  }
}

@media (max-width: 480px) {
  body {
    background-size: 50% 50%;
  }

  .envelope-icon {
    font-size: 2em;
    margin-top: 180px;
  }

  .slide-card {
    top: 10%;
    width: 95%;
    height: auto;
  }

  .card-content h1 {
    font-size: 1.5em;
  }

  .card-content p {
    font-size: 0.85em;
  }
}